/* User widget */
.user-widget {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-widget > *:not(:last-child) {
  margin-right: 1rem;
}

.user-avatar {
  width: 2.4rem;
  border-radius: 50%;
}
